.top-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  z-index: 100;
  .top-bar-space {
  }
  .top-bar-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
    transition: opacity 0.2s ease-in-out;
    a {
      svg {
        margin-left: 16px;
        fill: #ffffff;
        height: 18.75px;
        width: 150px;
      }
    }
    .hamburger-react {
      position: absolute !important;
      right: 6px;
      div {
        height: 2px !important;
      }
    }
    .nav-desktop {
      display: none;
    }
  }
}

.top-bar-inner.hide {
  opacity: 0;
  transform: opacity 0.5s ease;
  pointer-events: none;
}
@media only screen and (min-width: 1200px) {
  .top-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    z-index: 100;
    background-color: red;
    .top-bar-space {
    }
    .top-bar-inner {
      display: flex;
      justify-content: left;
      align-items: left;
      position: static;
      width: 100%;
      height: 100%;
      max-width: 1400px;
      margin: 0 auto;
      box-sizing: border-box;
      a {
        svg {
          margin-left: 0px;
          fill: #ffffff;
          height: 26.25px;
          width: 300px;
        }
      }
      .hamburger-react {
        position: absolute !important;
        right: 50px;
        div {
          height: 2px !important;
        }
      }
      .nav-desktop {
        display: block;

        a {
          text-decoration: none;
          color: white;
          text-align: left;
          text-transform: uppercase;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 700;
          font-size: 13px;
          margin: 10px;
        }
      }
    }
  }
}
